---
- name: restart nomad
  ansible.builtin.systemd:
    name: nomad
    state: restarted

- name: restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted

- name: restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted
