datacenter = "{{ datacenter }}"
region = "{{ region }}"
data_dir = "/opt/nomad"

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

client {
  enabled = true
  node_class = "{{ node_class }}"
  
  server_join {
    retry_join = {{ nomad_server_addresses | to_json }}
    retry_interval = "15s"
  }
  
  host_volume "grafana_data" {
    path = "{{ nas_mount_point }}/grafana"
    read_only = false
  }
  
  host_volume "loki_data" {
    path = "{{ nas_mount_point }}/loki"
    read_only = false
  }
  
  host_volume "minio_data" {
    path = "{{ nas_mount_point }}/minio"
    read_only = false
  }
  
  host_volume "prometheus_data" {
    path = "{{ nas_mount_point }}/prometheus"
    read_only = false
  }
  
  host_volume "uptime_kuma_data" {
    path = "{{ nas_mount_point }}/uptime-kuma"
    read_only = false
  }
  
  host_volume "registry_data" {
    path = "{{ nas_mount_point }}/registry"
    read_only = false
  }

  host_volume "artifactory_data" {
    path = "/opt/nomad-volumes/artifactory_data"
    read_only = false
  }

  host_volume "jenkins_home" {
    path = "{{ nas_mount_point }}/jenkins"
    read_only = false
  }

  host_volume "homepage_data" {
    path = "{{ nas_mount_point }}/homepage"
    read_only = false
  }

  host_volume "calibre_data" {
    path = "{{ nas_mount_point }}/calibre"
    read_only = false
  }

  host_volume "nextcloud_data" {
    path = "{{ nas_mount_point }}/nextcloud/data"
    read_only = false
  }

  host_volume "nextcloud_config" {
    path = "{{ nas_mount_point }}/nextcloud/config"
    read_only = false
  }

  host_volume "alertmanager_data" {
    path = "{{ nas_mount_point }}/alertmanager"
    read_only = false
  }
}

bind_addr = "0.0.0.0"

advertise {
  http = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
  rpc  = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
  serf = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
}

consul {
  address = "127.0.0.1:8500"
  auto_advertise = true
  client_service_name = "nomad-client"
  client_auto_join = true
}

plugin "docker" {
  config {
    allow_privileged = false
    volumes {
      enabled = true
    }
  }
}

vault {
  enabled = true
  address = "http://10.0.0.30:8200"  # Hub Vault HA cluster (leader)
  
  jwt_auth_backend_path = "jwt-nomad"
}
