datacenter = "{{ datacenter }}"
region = "{{ region }}"
data_dir = "/opt/nomad"

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

client {
  enabled = true
  node_class = "{{ node_class }}"
  
  server_join {
    retry_join = {{ nomad_server_addresses | to_json }}
    retry_interval = "15s"
  }
  
  host_volume "grafana_data" {
    path = "{{ nas_mount_point }}/grafana"
    read_only = false
  }
  
  host_volume "loki_data" {
    path = "{{ nas_mount_point }}/loki"
    read_only = false
  }
  
  host_volume "minio_data" {
    path = "{{ nas_mount_point }}/minio"
    read_only = false
  }
  
  host_volume "prometheus_data" {
    path = "{{ nas_mount_point }}/prometheus"
    read_only = false
  }
  
  host_volume "uptime_kuma_data" {
    path = "{{ nas_mount_point }}/uptime-kuma"
    read_only = false
  }
  
  host_volume "homepage_data" {
    path = "{{ nas_mount_point }}/homepage"
    read_only = false
  }

  host_volume "calibre_data" {
    path = "{{ nas_mount_point }}/calibre"
    read_only = false
  }

  host_volume "calibre_config" {
    path = "{{ nas_mount_point }}/calibre"
    read_only = false
  }

  host_volume "syncthing_config" {
    path = "{{ nas_mount_point }}/syncthing/config"
    read_only = false
  }

  host_volume "syncthing_data" {
    path = "{{ nas_mount_point }}/syncthing/data"
    read_only = false
  }

  host_volume "alertmanager_data" {
    path = "{{ nas_mount_point }}/alertmanager_data"
    read_only = false
  }
  host_volume "bookstack_config" {
    path = "{{ nas_mount_point }}/bookstack_config"
    read_only = false
  }

  host_volume "bookstack_mariadb_data" {
    path = "{{ nas_mount_point }}/bookstack_mariadb_data"
    read_only = false
  }

  host_volume "gollum_data" {
    path = "{{ nas_mount_point }}/gollum_data"
    read_only = false
  }

  host_volume "audiobookshelf_config" {
    path = "{{ nas_mount_point }}/audiobookshelf/config"
    read_only = false
  }

  host_volume "audiobookshelf_metadata" {
    path = "{{ nas_mount_point }}/audiobookshelf/metadata"
    read_only = false
  }

  host_volume "audiobookshelf_audiobooks" {
    path = "{{ nas_mount_point }}/audiobookshelf/audiobooks"
    read_only = false
  }

  host_volume "audiobookshelf_podcasts" {
    path = "{{ nas_mount_point }}/audiobookshelf/podcasts"
    read_only = false
  }

  host_volume "gitea_data" {
    path = "{{ nas_mount_point }}/gitea_data"
    read_only = false
  }

  host_volume "vaultwarden_data" {
    path = "{{ nas_mount_point }}/vaultwarden_data"
    read_only = false
  }

  host_volume "codeserver_data" {
    path = "{{ nas_mount_point }}/codeserver_data"
    read_only = false
  }

  host_volume "authelia_data" {
    path = "{{ nas_mount_point }}/authelia_data"
    read_only = false
  }

  host_volume "postgres_data" {
    path = "{{ nas_mount_point }}/postgres_data"
    read_only = false
  }

  host_volume "mariadb_data" {
    path = "{{ nas_mount_point }}/mariadb_data"
    read_only = false
  }

  host_volume "freshrss_data" {
    path = "{{ nas_mount_point }}/freshrss_data"
    read_only = false
  }

  host_volume "speedtest_data" {
    path = "{{ nas_mount_point }}/speedtest_data"
    read_only = false
  }

  host_volume "immich_upload" {
    path = "{{ nas_mount_point }}/immich/upload"
    read_only = false
  }

  host_volume "immich_postgres" {
    path = "{{ nas_mount_point }}/immich/postgres"
    read_only = false
  }

  host_volume "traefik_acme" {
    path = "/opt/traefik/acme"
    read_only = false
  }

  # Knowledge Management
  host_volume "trilium_data" {
    path = "{{ nas_mount_point }}/trilium_data"
    read_only = false
  }

  host_volume "linkwarden_data" {
    path = "{{ nas_mount_point }}/linkwarden_data"
    read_only = false
  }

  host_volume "linkwarden_postgres_data" {
    path = "{{ nas_mount_point }}/linkwarden_postgres_data"
    read_only = false
  }

  host_volume "wallabag_data" {
    path = "{{ nas_mount_point }}/wallabag_data"
    read_only = false
  }

  host_volume "wallabag_images" {
    path = "{{ nas_mount_point }}/wallabag_images"
    read_only = false
  }

  host_volume "wallabag_postgres_data" {
    path = "{{ nas_mount_point }}/wallabag_postgres_data"
    read_only = false
  }

  host_volume "paperless_data" {
    path = "{{ nas_mount_point }}/paperless_data"
    read_only = false
  }

  host_volume "paperless_media" {
    path = "{{ nas_mount_point }}/paperless_media"
    read_only = false
  }

  host_volume "paperless_consume" {
    path = "{{ nas_mount_point }}/paperless_consume"
    read_only = false
  }

  host_volume "paperless_export" {
    path = "{{ nas_mount_point }}/paperless_export"
    read_only = false
  }

  host_volume "paperless_postgres_data" {
    path = "{{ nas_mount_point }}/paperless_postgres_data"
    read_only = false
  }

  host_volume "drawio_data" {
    path = "{{ nas_mount_point }}/drawio_data"
    read_only = false
  }

  # Development
  host_volume "woodpecker_data" {
    path = "{{ nas_mount_point }}/woodpecker_data"
    read_only = false
  }

  # Infrastructure - Harbor
  host_volume "harbor_data" {
    path = "{{ nas_mount_point }}/harbor_data"
    read_only = false
  }

  host_volume "harbor_registry" {
    path = "{{ nas_mount_point }}/harbor_registry"
    read_only = false
  }

  host_volume "harbor_postgres_data" {
    path = "{{ nas_mount_point }}/harbor_postgres_data"
    read_only = false
  }

  host_volume "harbor_redis" {
    path = "{{ nas_mount_point }}/harbor_redis"
    read_only = false
  }

  host_volume "paperless_redis" {
    path = "{{ nas_mount_point }}/paperless_redis"
    read_only = false
  }
}

bind_addr = "0.0.0.0"

advertise {
  http = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
  rpc  = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
  serf = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
}

consul {
  address = "127.0.0.1:8500"
  auto_advertise = true
  client_service_name = "nomad-client"
  client_auto_join = true
}

plugin "docker" {
  config {
    allow_privileged = true
    allow_caps = ["SYS_PTRACE"]
    volumes {
      enabled = true
    }
  }
}

vault {
  enabled = true
  address = "http://10.0.0.30:8200"
  
  # JWT authentication for workload identity
  jwt_auth_backend_path = "jwt-nomad"
}
