datacenter = "{{ datacenter }}"
region = "{{ region }}"
data_dir = "/opt/nomad"

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

client {
  enabled = true
  node_class = "{{ node_class }}"
  
  server_join {
    retry_join = {{ nomad_server_addresses | to_json }}
    retry_interval = "15s"
  }
  
  host_volume "grafana_data" {
    path = "{{ nas_mount_point }}/grafana"
    read_only = false
  }
  
  host_volume "loki_data" {
    path = "{{ nas_mount_point }}/loki"
    read_only = false
  }
  
  host_volume "minio_data" {
    path = "{{ nas_mount_point }}/minio"
    read_only = false
  }
  
  host_volume "prometheus_data" {
    path = "{{ nas_mount_point }}/prometheus"
    read_only = false
  }
  
  host_volume "uptime_kuma_data" {
    path = "{{ nas_mount_point }}/uptime_kuma_data"
    read_only = false
  }
  
  host_volume "registry_data" {
    path = "{{ nas_mount_point }}/registry"
    read_only = false
  }

  host_volume "jenkins_home" {
    path = "{{ nas_mount_point }}/jenkins"
    read_only = false
  }

  host_volume "homepage_config" {
    path = "{{ nas_mount_point }}/homepage"
    read_only = false
  }

  host_volume "calibre_data" {
    path = "{{ nas_mount_point }}/calibre"
    read_only = false
  }

  host_volume "calibre_config" {
    path = "{{ nas_mount_point }}/calibre"
    read_only = false
  }

  host_volume "seafile_data" {
    path = "{{ nas_mount_point }}/seafile"
    read_only = false
  }

  host_volume "alertmanager_data" {
    path = "{{ nas_mount_point }}/alertmanager"
    read_only = false
  }

  host_volume "tempo_data" {
    path = "{{ nas_mount_point }}/tempo"
    read_only = false
  }

  host_volume "ntfy_data" {
    path = "{{ nas_mount_point }}/ntfy"
    read_only = false
  }

  host_volume "bookstack_data" {
    path = "{{ nas_mount_point }}/bookstack/data"
    read_only = false
  }

  host_volume "bookstack_config" {
    path = "{{ nas_mount_point }}/bookstack/config"
    read_only = false
  }

  host_volume "bookstack_db_data" {
    path = "{{ nas_mount_point }}/bookstack/db"
    read_only = false
  }

  host_volume "gollum_data" {
    path = "{{ nas_mount_point }}/gollum"
    read_only = false
  }

  host_volume "audiobookshelf_config" {
    path = "{{ nas_mount_point }}/audiobookshelf/config"
    read_only = false
  }

  host_volume "audiobookshelf_metadata" {
    path = "{{ nas_mount_point }}/audiobookshelf/metadata"
    read_only = false
  }

  host_volume "audiobookshelf_audiobooks" {
    path = "{{ nas_mount_point }}/audiobookshelf/audiobooks"
    read_only = false
  }

  host_volume "audiobookshelf_podcasts" {
    path = "{{ nas_mount_point }}/audiobookshelf/podcasts"
    read_only = false
  }

  host_volume "gitea_data" {
    path = "{{ nas_mount_point }}/gitea"
    read_only = false
  }

  host_volume "vaultwarden_data" {
    path = "{{ nas_mount_point }}/vaultwarden"
    read_only = false
  }

  host_volume "codeserver_data" {
    path = "{{ nas_mount_point }}/codeserver"
    read_only = false
  }

  host_volume "authelia_data" {
    path = "{{ nas_mount_point }}/authelia"
    read_only = false
  }

  host_volume "postgres_data" {
    path = "{{ nas_mount_point }}/postgres"
    read_only = false
  }

  host_volume "mariadb_data" {
    path = "{{ nas_mount_point }}/mariadb_data"
    read_only = false
  }

  host_volume "freshrss_data" {
    path = "{{ nas_mount_point }}/freshrss"
    read_only = false
  }

  host_volume "speedtest_data" {
    path = "{{ nas_mount_point }}/speedtest"
    read_only = false
  }

  host_volume "immich_upload" {
    path = "{{ nas_mount_point }}/immich/upload"
    read_only = false
  }

  host_volume "immich_postgres" {
    path = "{{ nas_mount_point }}/immich/postgres"
    read_only = false
  }

  host_volume "traefik_acme" {
    path = "{{ nas_mount_point }}/traefik-acme"
    read_only = false
  }

  host_volume "linkwarden_data" {
    path = "{{ nas_mount_point }}/linkwarden"
    read_only = false
  }

  host_volume "linkwarden_postgres_data" {
    path = "{{ nas_mount_point }}/linkwarden_postgres"
    read_only = false
  }

  host_volume "syncthing_config" {
    path = "{{ nas_mount_point }}/syncthing/config"
    read_only = false
  }

  host_volume "syncthing_data" {
    path = "{{ nas_mount_point }}/syncthing/data"
    read_only = false
  }

  host_volume "trilium_data" {
    path = "{{ nas_mount_point }}/trilium"
    read_only = false
  }

  host_volume "wallabag_data" {
    path = "{{ nas_mount_point }}/wallabag"
    read_only = false
  }

  host_volume "wallabag_images" {
    path = "{{ nas_mount_point }}/wallabag_images"
    read_only = false
  }

  host_volume "wallabag_postgres_data" {
    path = "{{ nas_mount_point }}/wallabag_postgres"
    read_only = false
  }

  host_volume "speedtest_postgres_data" {
    path = "{{ nas_mount_point }}/speedtest_postgres"
    read_only = false
  }

  host_volume "freshrss_postgres_data" {
    path = "{{ nas_mount_point }}/freshrss_postgres"
    read_only = false
  }

  host_volume "grafana_postgres_data" {
    path = "{{ nas_mount_point }}/grafana_postgres"
    read_only = false
  }

  host_volume "gitea_postgres_data" {
    path = "{{ nas_mount_point }}/gitea_postgres"
    read_only = false
  }

  host_volume "vaultwarden_postgres_data" {
    path = "{{ nas_mount_point }}/vaultwarden_postgres"
    read_only = false
  }

  host_volume "paperless_data" {
    path = "{{ nas_mount_point }}/paperless/data"
    read_only = false
  }

  host_volume "paperless_media" {
    path = "{{ nas_mount_point }}/paperless/media"
    read_only = false
  }

  host_volume "paperless_consume" {
    path = "{{ nas_mount_point }}/paperless/consume"
    read_only = false
  }

  host_volume "paperless_export" {
    path = "{{ nas_mount_point }}/paperless/export"
    read_only = false
  }

  host_volume "paperless_postgres_data" {
    path = "{{ nas_mount_point }}/paperless_postgres"
    read_only = false
  }

  host_volume "woodpecker_data" {
    path = "{{ nas_mount_point }}/woodpecker"
    read_only = false
  }
}

bind_addr = "0.0.0.0"

advertise {
  http = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
  rpc  = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
  serf = "{% raw %}{{ GetInterfaceIP \"ens18\" }}{% endraw %}"
}

consul {
  address = "127.0.0.1:8500"
  auto_advertise = true
  client_service_name = "nomad-client"
  client_auto_join = true
}

plugin "docker" {
  config {
    allow_privileged = true
    allow_caps = ["SYS_PTRACE", "SETUID", "SETGID"]
    volumes {
      enabled = true
    }
    auth {
      config = "/root/.docker/config.json"
    }
    image_pull_timeout = "15m"
  }
}

vault {
  enabled = true
  address = "http://10.0.0.30:8200"
  
  # JWT authentication for workload identity
  jwt_auth_backend_path = "jwt-nomad"
}
