---
all:
  vars:
    ansible_user: ubuntu
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    datacenter: dc1
    region: global
    consul_retry_join:
      - "10.0.0.50"
      - "10.0.0.51"
      - "10.0.0.52"

  children:
    nomad_servers:
      hosts:
        nomad-server-1:
          ansible_host: 10.0.0.50
        nomad-server-2:
          ansible_host: 10.0.0.51
        nomad-server-3:
          ansible_host: 10.0.0.52
      vars:
        node_type: server
        consul_server: true
        consul_bootstrap_expect: 3
        nomad_bootstrap_expect: 3

    nomad_clients:
      hosts:
        nomad-client-1:
          ansible_host: 10.0.0.60
        nomad-client-2:
          ansible_host: 10.0.0.61
        nomad-client-3:
          ansible_host: 10.0.0.62
        nomad-client-4:
          ansible_host: 10.0.0.63
      vars:
        node_type: client
        node_class: compute
        consul_server: false
        docker_registry_mirror: "http://10.0.0.61:5000"
        nas_mount_source: "10.0.0.220:/mnt/HD/HD_a2/PVE-VM-Storage"
        nas_mount_point: "/mnt/nas"

    nomad_cluster:
      children:
        nomad_servers:
        nomad_clients:
