---
- name: Update Nomad client configuration with Vault workload identity
  hosts: nomad_clients
  become: yes
  
  tasks:
    - name: Update Nomad client configuration
      template:
        src: ../roles/nomad-client/templates/nomad-client.hcl.j2
        dest: /etc/nomad.d/nomad.hcl
        owner: root
        group: root
        mode: '0644'
      notify: Restart nomad
  
  handlers:
    - name: Restart nomad
      systemd:
        name: nomad
        state: restarted
