---
- name: Update Nomad Server Vault Tokens
  hosts: nomad_servers
  become: yes
  vars_files:
    - ../.nomad-vault-tokens.yml
  
  tasks:
    - name: Get the vault token for this server
      set_fact:
        vault_token: "{{ vault_tokens[inventory_hostname] }}"
    
    - name: Update Vault token in Nomad configuration
      ansible.builtin.lineinfile:
        path: /etc/nomad.d/nomad.hcl
        regexp: '^  token = "hvs\.'
        line: '  token = "{{ vault_token }}"'
        backup: yes
      notify: Restart Nomad
  
  handlers:
    - name: Restart Nomad
      ansible.builtin.systemd:
        name: nomad
        state: restarted
