---
# Install and configure Nomad server
- name: Create Nomad system user
  user:
    name: nomad
    system: yes
    shell: /bin/false
    create_home: no

- name: Create Nomad directories
  file:
    path: "{{ item }}"
    state: directory
    owner: nomad
    group: nomad
    mode: '0755'
  loop:
    - /etc/nomad.d
    - /opt/nomad

- name: Install Nomad server configuration
  template:
    src: nomad-server.hcl.j2
    dest: /etc/nomad.d/nomad.hcl
    owner: nomad
    group: nomad
    mode: '0640'
  notify: restart nomad

- name: Create Nomad systemd service
  copy:
    dest: /etc/systemd/system/nomad.service
    content: |
      [Unit]
      Description=Nomad
      Documentation=https://www.nomadproject.io/docs/
      Wants=network-online.target
      After=network-online.target

      [Service]
      ExecReload=/bin/kill -HUP $MAINPID
      ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d
      KillMode=process
      KillSignal=SIGINT
      LimitNOFILE=65536
      LimitNPROC=infinity
      Restart=on-failure
      RestartSec=2
      StartLimitBurst=3
      StartLimitIntervalSec=10
      TasksMax=infinity
      OOMScoreAdjust=-1000

      [Install]
      WantedBy=multi-user.target
    mode: '0644'
  notify: restart nomad

- name: Enable and start Nomad service
  systemd:
    name: nomad
    enabled: yes
    state: started
    daemon_reload: yes
